<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>จัดการขายรถ</title>
    <link rel="shortcut icon" type="image/png" href="http://www.bhwelder.com.my/img/hotproduct.png" />
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script>
        function printContent(el) {
            var printcontent = document.getElementById(el).innerHTML;
            document.body.innerHTML = printcontent;
            document.getElementById('buttonprint').style.display = 'none';
            window.print();
            location.reload();
        }
    </script>
</head>

<body class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header"><a class="app-header__logo" href="#">Choktwee</a>
        <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
            aria-label="Hide Sidebar"></a>
        <!-- Navbar Right Menu-->
        <ul class="app-nav">
            <!-- <li class="app-search">
                <input class="app-search__input" type="search" placeholder="Search">
                <button class="app-search__button"><i class="fa fa-search"></i></button>
            </li> -->

            <!-- User Menu-->
            <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown"
                    aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
                <ul class="dropdown-menu settings-menu dropdown-menu-right">
                    <!-- <li><a class="dropdown-item" href="#"><i class="fa fa-cog fa-lg"></i> Settings</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa fa-user fa-lg"></i> Profile</a></li> -->
                    <li><a class="dropdown-item" href="login"><i class="fa fa-sign-out fa-lg"></i> ออกจากระบบ</a>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <p class="app-sidebar__user-name" id="profilename">ภัทรดนัย ช่างเหลา</p>

        </div>
        <ul class="app-menu">

            <li class="treeview is-expanded"><a class="app-menu__item active" href="#" data-toggle="treeview"><i
                        class="app-menu__icon fa fa-car"></i><span class="app-menu__label">จัดการสต็อกรถ</span><i
                        class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="/mangecar"><i class="icon fa fa-inbox"></i>
                            สต็อกรถ</a></li>
                    <li><a class="treeview-item" href="/buycar" rel="noopener"><i class="icon fa fa-level-down"></i>
                            ซื้อรถเข้า</a></li>
                    <li><a class="treeview-item active" href="/sellcar"><i class="icon fa fa-level-up"></i>ขายรถ</a>
                    </li>
                </ul>
            </li>
            <li><a class="app-menu__item" href="/manage-repair"><i class="app-menu__icon fa fa-wrench"></i><span
                        class="app-menu__label">จัดการซ่อม</span></a></li>
            <li><a class="app-menu__item" href="/renewlicense"><i class="app-menu__icon fa fa-file-pdf-o"></i><span
                        class="app-menu__label">จัดการเดินทะเบียน</span></a></li>
            <li><a class="app-menu__item" href="/customer"><i class="app-menu__icon fa fa-handshake-o"></i><span
                        class="app-menu__label">ดูข้อมูลลูกค้า</span></a></li>
            <!-- <li><a class="app-menu__item" href="/report"><i class="app-menu__icon fa fa-pie-chart"></i><span
                              class="app-menu__label">ดูรายงาน</span></a></li> -->
            <li id="dash"><a class="app-menu__item " href="/dashboard"><i class="app-menu__icon fa fa-dashboard"></i><span
                        class="app-menu__label">ดูรายงาน</span></a></li>
            <li id="manemp"><a class="app-menu__item" href="/mangeemployee"><i class="app-menu__icon fa fa-users"></i><span
                        class="app-menu__label">จัดการพนักงาน</span></a></li>
        </ul>
    </aside>
    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-th-list"></i> จัดการขายรถ</h1>

                <p>ดูข้อมูลประวัติการขายรถ</p>
            </div>
            <!-- <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active"><a href="#">Data Table</a></li>

            </ul> -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                                <tr align="center">
                                    <th>รหัสการขายรถ</th>
                                    <th>วันที่ขาย</th>
                                    <th>ราคาขาย</th>
                                    <th>พนักงานที่ขาย</th>
                                    <th>รหัสรถที่ขาย</th>
                                    <!-- <th>รหัสลูกค้า</th> -->
                                    <th>หมายเลขบิล</th>
                                    <th style="width: 122px">แก้ไข</th>
                                    <!-- <th style="width: 122px">ลบ</th> -->
                                    <th style="width: 122px">ออกเอกสาร</th>
                                </tr>
                            </thead>
                            <tbody align="center">
                                <% for(var i=0; i < SellCar.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= SellCar[i].ID_TRN_sellCar %>
                                    </td>
                                    <td>
                                        <%= SellCar[i].sell_car_date %>
                                    </td>
                                    <td>
                                        <%= SellCar[i].sell_car_price %>
                                    </td>
                                    <td>
                                        <%= SellCar[i].ID_MST_employeeId %>
                                    </td>
                                    <td>
                                        <%= SellCar[i].ID_MST_car %>
                                    </td>
                                    <!-- <td>
                                        <%= SellCar[i].ID_MST_customer %>
                                    </td> -->
                                    <td>
                                        <%= SellCar[i].ID_TRN_bill %>
                                    </td>
                                    <td>
                                        <% for(var j=0; j < Cus.length; j++) { %>
                                        <%if(SellCar[i].customer_citizen_id === Cus[j].customer_citizen_id){%>
                                        <a href="" class="btn btn-outline-warning btn-block" data-toggle="modal"
                                            data-toggle="modal" data-target=".EditModalCenter" onclick="feedCar('<%= SellCar[i]._id  %>','<%= SellCar[i].ID_TRN_sellCar %>',
                                                '<%= SellCar[i].sell_car_date %>','<%= SellCar[i].sell_car_price %>',
                                                '<%= SellCar[i].ID_MST_employeeId %>','<%= SellCar[i].ID_MST_car %>','<%= SellCar[i].ID_MST_customer %>',
                                                '<%= SellCar[i].ID_TRN_bill %>','<%= Cus[j].customer_type %>','<%= Cus[j].customer_citizen_id %>'
                                                ,'<%= Cus[j].customer_first_name %>','<%= Cus[j].customer_last_name %>','<%= Cus[j].customer_telephone %>'
                                                ,'<%= Cus[j].customer_email %>','<%= Cus[j].address.address_id %>','<%= Cus[j].address.bloc %>'
                                                ,'<%= Cus[j].address.district %>','<%= Cus[j].address.sub_district %>','<%= Cus[j].address.province %>'
                                                ,'<%= Cus[j].address.postcode %>')">แก้ไข</a>
                                        <%}%>
                                        <%}%>
                                    </td>

                                    <!-- <td>
                                        <a href="/sellcar/delete/<%= SellCar[i]._id %>"
                                            class="btn btn-outline-danger btn-block">ลบ</a>
                                    </td> -->
                                    <td>
                                        <% for(var k=0; k < Cus.length; k++) { %>
                                        <%if(SellCar[i].customer_citizen_id === Cus[k].customer_citizen_id){%>
                                        <div>
                                            <button type="button" class="btn btn-outline-info btn-block"
                                                style="font-size: 15px;" data-toggle="modal" data-target="#printModal"
                                                onclick="feedPrint('<%= SellCar[i]._id  %>','<%= SellCar[i].ID_TRN_sellCar %>',
                                                '<%= SellCar[i].sell_car_date %>','<%= SellCar[i].sell_car_price %>',
                                                '<%= SellCar[i].ID_MST_employeeId %>','<%= SellCar[i].ID_MST_car %>','<%= SellCar[i].ID_MST_customer %>',
                                                '<%= SellCar[i].ID_TRN_bill %>','<%= Cus[k].customer_type %>','<%= Cus[k].customer_citizen_id %>'
                                                ,'<%= Cus[k].customer_first_name %>','<%= Cus[k].customer_last_name %>','<%= Cus[k].customer_telephone %>'
                                                ,'<%= Cus[k].customer_email %>','<%= Cus[k].address.address_id %>','<%= Cus[k].address.bloc %>'
                                                ,'<%= Cus[k].address.district %>','<%= Cus[k].address.sub_district %>','<%= Cus[k].address.province %>'
                                                ,'<%= Cus[k].address.postcode %>')">ออกเอกสาร</button>
                                        </div>
                                        <%}%>
                                        <%}%>
                                    </td>
                                </tr>
                                <!-- Modal แก้ไข -->
                                <div class="modal fade EditModalCenter" tabindex="-1" role="dialog"
                                    aria-labelledby="EditModalCenter" aria-hidden="true">
                                    <div class="modal-dialog modal-xl" role="document">
                                        <form action="sellcar/update" method="post">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="AddModalCenter">
                                                        แก้ไขข้อมูลการขาย</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h5>รายละเอียดรถ</h5>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-default">รหัสการขาย</span>
                                                        </div>
                                                        <input type="text" name="_id" id="editid" style="display: none">
                                                        <input type="text" name="ID_TRN_sellCar" id="editSellcar_id"
                                                            class="form-control" aria-label="Sizing example input"
                                                            required>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-default">รหัสรถ</span>
                                                        </div>
                                                        <input type="text" name="ID_MST_car" id="editCar_id"
                                                            class="form-control" aria-label="Sizing example input"
                                                            required>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-default">ราคาขาย</span>
                                                        </div>
                                                        <input type="text" name="sell_car_price" id="editSellcar_price"
                                                            class="form-control" aria-label="Sizing example input"
                                                            required>
                                                    </div>
                                                    <hr>
                                                    <h5>รายละเอียดลูกค้า</h5>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-default">ประเภทลูกค้า</span>
                                                        </div>
                                                        <input readonly type="text" maxlength="13" name="customer_type"
                                                            id="editCus_type" class="form-control"
                                                            aria-label="Sizing example input" required>
                                                    </div>
                                                    <!-- <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-default">รหัสลูกค้า</span>
                                                        </div>
                                                        <input type="text" name="customer_id" id="editCus_id"
                                                            class="form-control" aria-label="Sizing example input"
                                                            required>
                                                    </div> -->
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-default">หมายเลขประจำตัวผู้เสียภาษี</span>
                                                        </div>
                                                        <input onkeypress="return isNumber(event)" type="text"
                                                            maxlength="13" name="customer_citizen_id"
                                                            id="editCus_citizen_id" class="form-control"
                                                            aria-label="Sizing example input" required>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-default">ชื่อลูกค้า</span>
                                                        </div>
                                                        <input type="text" name="customer_first_name"
                                                            id="editCus_first_name" class="form-control"
                                                            aria-label="Sizing example input" required>
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-default">นามสกุล</span>
                                                        </div>
                                                        <input type="text" name="customer_last_name"
                                                            id="editCus_last_name" class="form-control"
                                                            aria-label="Sizing example input" required>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-default">หมายเลขโทรศัพท์</span>
                                                        </div>
                                                        <input onkeypress="return isNumber(event)" type="text"
                                                            maxlength="10" name="customer_telephone"
                                                            id="editCus_telephone" class="form-control"
                                                            aria-label="Sizing example input" required>
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-default">อีเมล</span>
                                                        </div>
                                                        <input type="text" name="customer_email" id="editCus_email"
                                                            class="form-control" aria-label="Sizing example input"
                                                            required>
                                                    </div>
                                                    <hr>
                                                    <h5>รายละเอียดที่อยู่ลูกค้า</h5>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-default">บ้านเลขที่</span>
                                                        </div>
                                                        <input type="text" name="address_id" id="editCus_address_id"
                                                            class="form-control" aria-label="Sizing example input"
                                                            required>
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-default">ล็อค/ซอย</span>
                                                        </div>
                                                        <input type="text" name="bloc" id="editCus_bloc"
                                                            class="form-control" aria-label="Sizing example input"
                                                            required>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-default">อำเภอ</span>
                                                        </div>
                                                        <input type="text" name="district" id="editCus_district"
                                                            class="form-control" aria-label="Sizing example input"
                                                            required>
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-default">ตำบล</span>
                                                        </div>
                                                        <input type="text" name="sub_district" id="editCus_sub_district"
                                                            class="form-control" aria-label="Sizing example input"
                                                            required>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-default">จังหวัด</span>
                                                        </div>
                                                        <input type="text" name="province" id="editCus_province"
                                                            class="form-control" aria-label="Sizing example input"
                                                            required>
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-default">รหัสไปรษณีย์</span>
                                                        </div>
                                                        <input onkeypress="return isNumber(event)" type="text"
                                                            maxlength="5" name="postcode" id="editCus_postcode"
                                                            class="form-control" aria-label="Sizing example input"
                                                            required>
                                                    </div>
                                                    <hr>
                                                    <h5>รายละเอียดการขาย</h5>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-default">หมายเลขบิล</span>
                                                        </div>
                                                        <input type="text" name="ID_TRN_bill" id="editBill_id"
                                                            class="form-control" aria-label="Sizing example input"
                                                            required>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-default">วันที่ขาย</span>
                                                        </div>
                                                        <input type="date" name="sell_car_date" id="editSellcar_date"
                                                            class="form-control" aria-label="Sizing example input"
                                                            required>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-default">รหัสพนักงาน</span>
                                                        </div>
                                                        <input type="text" name="ID_MST_employeeId" id="editEmp_id"
                                                            class="form-control" aria-label="Sizing example input"
                                                            required>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="reset" class="btn btn-secondary"
                                                        data-dismiss="modal">ยกเลิก</button>
                                                    <button type="submit" class="btn btn-primary"
                                                        style="background:#009688; border:#009688 ">ยืนยัน</button>
                                                </div>
                                        </form>
                                    </div>
                                </div>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- PrintModal -->
    <div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ออกเอกสาร</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="card" id="einvoice">
                            <div class="row">
                                <div class="col">
                                    <img class="text-left" src="image/logobill.png" width="500px" height="150px">
                                </div>
                                <div class="col">
                                    <h1 class="text-right" style="margin-top: 20px;margin-right: 15px">เอกสารการขาย
                                    </h1>
                                    <h2 class="text-right" style="margin-top: 3px;margin-right: 15px">Sale Order</h2>
                                </div>
                            </div>
                            <div class="card-header">
                                Invoice
                                <strong id="edate">วันที่</strong>
                                <span class="float-right">
                                    <button type="button" class="btn btn-primary"
                                        style="background:#009688; border:#009688" onclick="printContent('einvoice')"
                                        id="buttonprint">พิมพ์</button>
                                </span>


                            </div>
                            <div class="card-body">
                                <div class="row mb-4">
                                    <div class="col-sm-6">
                                        <h6 class="mb-3">From:</h6>
                                        <div>
                                            <strong>โชคทวีออโต้เซลส์</strong>
                                        </div>
                                        <div>Email: choktwee@gmail.com</div>
                                        <div>โทร : 028749177</div>
                                        <div>
                                            <p id="edate2">วันที่ออกใบเสร็จ</p>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <h6 class="mb-3">To:</h6>
                                        <div>
                                            <strong id="cusname">Webz Poland</strong>
                                        </div>
                                        <div id="cusaddress">ที่อยู่ลูกค้า</div>
                                    </div>



                                </div>

                                <div class="table-responsive-sm">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="center">หมายเลขบิล</th>
                                                <th class="center">สินค้า</th>

                                                <th class="center">รหัสพนักงาน</th>
                                                <th class="center">ราคาสินค้า</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="center" id="idBill">1</td>
                                                <td class="left strong" id="idProduct">รถยนต์</td>
                                                <td class="left" id="idEmp">Extended License</td>

                                                <td class="right" id="price">1</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-sm-5">

                                    </div>

                                    <div class="col-lg-4 col-sm-5 ml-auto">
                                        <table class="table table-clear">
                                            <tbody>
                                                <tr>
                                                    <td class="left">
                                                        <strong>ราคารวม</strong>
                                                    </td>
                                                    <td class="right" id="invcost">ราคารวม</td>
                                                </tr>
                                                <tr>
                                                    <td class="left">
                                                        <strong>ภาษีมูลค่าเพิ่ม (7%)</strong>
                                                    </td>
                                                    <td class="right" id="invvat">ภาษีมูลค่าเพิ่ม</td>
                                                </tr>
                                                <tr>
                                                    <td class="left">
                                                        <strong>ราคารวมสุทธิ</strong>
                                                    </td>
                                                    <td class="right">
                                                        <strong id="einvtotal">ราคารวมสุทธิ</strong>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <div class="row">
                                        <div class="col">
                                            <p>ผู้มีอำนาจลงนาม</p>
                                            <img src="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/images/pages/signature-scan.png"
                                                alt="signature" width="100px" height="100px" />
                                            <h6>นายโชคทวี รักชาติไทย</h6>
                                            <p class="text-muted">CEO บริษัทโชคทวีออโต้เซลส์</p>
                                            <p class="text-muted">บริษัทโชคทวีออโต้เซลส์ บริษัทเช่ารถอันดับ 1
                                                แห่งประเทศไทย
                                                ครบวงจร</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Essential javascripts for application to work-->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <!-- Data table plugin-->
    <script type="text/javascript" src="js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="js/plugins/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $('#sampleTable').DataTable();
        $('#profilename').text("ยินดีต้อนรับคุณ : " + localStorage.getItem("name"));

        // var userstatus = localStorage.getItem("status")
        // if (userstatus === "แอดมิน") {
        //     console.log('เข้าแอดมิน');
        // } else {
        //     document.getElementById("manemp").children[0].style.display = "none"
        //     document.getElementById("dash").children[0].style.display = "none"
        //     console.log('ไม่เข้าแอดมิน');
        // }

        var m = new Date();
        var dateString =
            m.getUTCFullYear() + "/" +
            ("0" + (m.getUTCMonth() + 1)).slice(-2) + "/" +
            ("0" + m.getUTCDate()).slice(-2) + " "
        var feedCar = (_id, ID_TRN_sellCar, sell_car_date, sell_car_price, ID_MST_employeeId,
            ID_MST_car, ID_MST_customer, ID_TRN_bill, customer_type, customer_citizen_id, customer_first_name,
            customer_last_name, customer_telephone, customer_email, address_id, bloc, district, sub_district,
            province, postcode) => {
            _id: $('#editid').val(_id)
            ID_TRN_sellCar: $('#editSellcar_id').val(ID_TRN_sellCar)
            sell_car_date: $('#editSellcar_date').val(sell_car_date)
            sell_car_price: $('#editSellcar_price').val(sell_car_price)
            ID_MST_employeeId: $('#editEmp_id').val(ID_MST_employeeId)
            ID_MST_car: $('#editCar_id').val(ID_MST_car)
            ID_MST_customer: $('#editCus_id').val(ID_MST_customer)
            ID_TRN_bill: $('#editBill_id').val(ID_TRN_bill)
            customer_type: $('#editCus_type').val(customer_type)
            customer_citizen_id: $('#editCus_citizen_id').val(customer_citizen_id)
            customer_first_name: $('#editCus_first_name').val(customer_first_name)
            customer_last_name: $('#editCus_last_name').val(customer_last_name)
            customer_telephone: $('#editCus_telephone').val(customer_telephone)
            customer_email: $('#editCus_email').val(customer_email)
            adress: {
                address_id: $('#editCus_address_id').val(address_id)
                bloc: $('#editCus_bloc').val(bloc)
                district: $('#editCus_district').val(district)
                sub_district: $('#editCus_sub_district').val(sub_district)
                province: $('#editCus_province').val(province)
                postcode: $('#editCus_postcode').val(postcode)
            }
        }
        var feedPrint = (_id, ID_TRN_sellCar, sell_car_date, sell_car_price, ID_MST_employeeId,
            ID_MST_car, ID_MST_customer, ID_TRN_bill, customer_type, customer_citizen_id, customer_first_name,
            customer_last_name, customer_telephone, customer_email, address_id, bloc, district, sub_district,
            province, postcode) => {
            console.log(customer_first_name);
            var vat = sell_car_price * 0.07
            var total = parseInt(sell_car_price) + parseInt(vat)
            $('#cusname').text(customer_first_name + " " + customer_last_name)
            $('#cusaddress').text(address_id + " หมู่ " + bloc + " " + district + " " + sub_district + " " +
                province +
                " " + postcode)
            $('#edate2').text("วันที่ออกเอกสาร : " + dateString)
            $('#edate').text(ID_TRN_sellCar + dateString)
            $('#idBill').text(ID_TRN_bill)
            $('#idProduct').text(ID_MST_car)
            $('#idEmp').text(ID_MST_employeeId)
            $('#price').text(sell_car_price)
            $('#invcost').text(sell_car_price + ".00")
            $('#invvat').text(vat.toFixed(2))
            $('#einvtotal').text(total.toFixed(2))
        }
    </script>
</body>

</html>