<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>จัดการการเดินทะเบียน</title>
    <link rel="shortcut icon" type="image/png" href="http://www.bhwelder.com.my/img/hotproduct.png" />
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script>
        function printContent(el) {
            var printcontent = document.getElementById(el).innerHTML;
            document.body.innerHTML = printcontent;
            document.getElementById('buttonprint').style.display = 'none';
            window.print();
            location.reload();
        }
    </script>
</head>

<body class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header"><a class="app-header__logo" href="#">Choktwee</a>
        <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
            aria-label="Hide Sidebar"></a>
        <!-- Navbar Right Menu-->
        <ul class="app-nav">


            <!-- User Menu-->
            <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown"
                    aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
                <ul class="dropdown-menu settings-menu dropdown-menu-right">
                    <!-- <li><a class="dropdown-item" href="#"><i class="fa fa-cog fa-lg"></i> Settings</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa fa-user fa-lg"></i> Profile</a></li> -->
                    <li><a class="dropdown-item" href="login"><i class="fa fa-sign-out fa-lg"></i> ออกจากระบบ</a>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <p class="app-sidebar__user-name" id="profilename">ภัทรดนัย ช่างเหลา</p>
        </div>
        <ul class="app-menu">

            <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i
                        class="app-menu__icon fa fa-car"></i><span class="app-menu__label">จัดการสต็อกรถ</span><i
                        class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="/mangecar"><i class="icon fa fa-inbox"></i>
                            สต็อกรถ</a></li>
                    <li><a class="treeview-item" href="/buycar" rel="noopener"><i class="icon fa fa-level-down"></i>
                            ซื้อรถเข้า</a></li>
                    <li><a class="treeview-item" href="/sellcar"><i class="icon fa fa-level-up"></i>ขายรถ</a></li>
                </ul>
            </li>
            <li><a class="app-menu__item" href="/manage-repair"><i class="app-menu__icon fa fa-wrench"></i><span
                        class="app-menu__label">จัดการซ่อม</span></a></li>
            <li><a class="app-menu__item active" href="/renewlicense"><i
                        class="app-menu__icon fa fa-file-pdf-o"></i><span
                        class="app-menu__label">จัดการเดินทะเบียน</span></a></li>
            <li><a class="app-menu__item" href="/customer"><i class="app-menu__icon fa fa-handshake-o"></i><span
                        class="app-menu__label">ดูข้อมูลลูกค้า</span></a></li>
            <!-- <li><a class="app-menu__item" href="/report"><i class="app-menu__icon fa fa-pie-chart"></i><span
                              class="app-menu__label">ดูรายงาน</span></a></li> -->
            <li id="dash"><a class="app-menu__item " href="/dashboard"><i
                        class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">ดูรายงาน</span></a>
            </li>
            <li id="manemp"><a class="app-menu__item" href="/mangeemployee"><i
                        class="app-menu__icon fa fa-users"></i><span class="app-menu__label">จัดการพนักงาน</span></a>
            </li>
        </ul>
    </aside>
    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-th-list"></i> จัดการเดินทะเบียน</h1>
                <p>จัดการและรับเรื่องการเดินทะเบียน</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <button type="button" class="btn btn-outline-success btn-block"
                            style="font-size: 15px; width: 160px; float: right;" data-toggle="modal" data-toggle="modal"
                            data-target=".AddModalCenter">เพิ่มการเดินทะเบียน</button>
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                                <tr align="center">
                                    <th>รหัสการเดินทะเบียน</th>
                                    <th style="width: 90px">วันที่</th>
                                    <th>เลขทะเบียน</th>
                                    <!--
                                     <th>จำนวน</th>
                                -->
                                    <th>ราคา</th>
                                    <th>หมายเลขบัตรประชาชนลูกค้า</th>
                                    <th>รหัสพนักงาน</th>
                                    <th style="width: 90px">แก้ไข</th>
                                    <th style="width: 90px">ลบ</th>
                                    <th style="width: 90px">ออกใบเสร็จ</th>

                                </tr>
                            </thead>
                            <tbody align="center">
                                <% for(var i= 0; i < license.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= license[i].ID_TRN_renew_license %>
                                    </td>
                                    <td>
                                        <%= license[i].renew_license_date %>
                                    </td>
                                    <td>
                                        <%= license[i].car_license %>
                                    </td>
                                    <td>
                                        <%= license[i].renew_license_price %>
                                    </td>
                                    <td>
                                        <%= license[i].customer_citizen_id %>
                                    </td>
                                    <td>
                                        <%= license[i].ID_MST_employeeId %>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-warning btn-block"
                                            style="font-size: 15px;" data-toggle="modal" data-toggle="modal"
                                            data-target=".editModal"
                                            onclick="feedLicense('<%= license[i]._id %>','<%= license[i].ID_TRN_renew_license %>','<%= license[i].renew_license_date %>','<%=license[i].renew_license_count%>','<%=license[i].renew_license_price%>','<%=license[i].car_license%>','<%=license[i].ID_MST_employeeId%>','<%=license[i].ID_TRN_bill%>','<%=license[i].ID_MST_customer%>')">แก้ไข</button>
                                    </td>
                                    <td>
                                        <form action="/renewlicense/delete/<%= license[i]._id %>">
                                            <button type="submit" class="btn btn-outline-danger btn-block"
                                                style="font-size: 15px;"
                                                onclick="return confirm('คุณต้องการลบข้อมูลใช่หรือไม่')">ลบ</button>

                                        </form>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-info btn-block"
                                            style="font-size: 15px;" data-toggle="modal" data-target="#invoiceModal"
                                            onclick="feedInvoice('<%= license[i].ID_TRN_renew_license %>','<%= cus[i].customer_first_name %>',
                                            '<%= cus[i].customer_last_name %>','<%= cus[i].address.address_id %>',
                                            '<%= cus[i].address.bloc %>','<%= cus[i].address.district %>',
                                            '<%= cus[i].address.sub_district %>','<%= cus[i].address.province %>',
                                            '<%= cus[i].address.postcode %>','<%= license[i].renew_license_price %>')">ออกใบเสร็จ</button>

                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="card" id="einvoice">
                                    <div class="row">
                                        <div class="col">
                                            <img class="text-left" src="image/logobill.png" width="500px"
                                                height="150px">
                                        </div>
                                        <div class="col">
                                            <h1 class="text-right" style="margin-top: 20px;margin-right: 15px">
                                                ใบเสร็จรับงิน</h1>
                                            <h2 class="text-right" style="margin-top: 3px;margin-right: 15px">Invoice
                                            </h2>
                                        </div>
                                    </div>

                                    <div class="card-header">
                                        Invoice
                                        <strong id="invoiceId">วันที่</strong>
                                        <span class="float-right">
                                            <button type="button" class="btn btn-primary"
                                                style="background:#009688; border:#009688"
                                                onclick="printContent('einvoice')" id="buttonprint">พิมพ์</button>
                                        </span>


                                    </div>
                                    <div class="card-body">
                                        <div class="row mb-4">
                                            <div class="col-sm-6">
                                                <h6 class="mb-3">From:</h6>
                                                <div>
                                                    <strong>โชคทวีออโต้เซลส์</strong>
                                                </div>
                                                <div>Email: choktwee@gmail.com</div>
                                                <div>โทร : 028749177</div>
                                                <div>เลขประจำตัวผู้เสียภาษีอากร : 1653472936510</div>
                                                <div>
                                                    <p id="date2">วันที่ออกใบเสร็จ</p>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <h6 class="mb-3">To:</h6>
                                                <div>
                                                    <strong id="einvcusname">Webz Poland</strong>
                                                </div>
                                                <div id="einvcusadd">ที่อยู่ลูกค้า</div>
                                            </div>



                                        </div>

                                        <div class="table-responsive-sm">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="center">ลำดับ</th>
                                                        <th>รายละเอียด</th>

                                                        <th class="right">จำนวน</th>
                                                        <th class="right">จำนวนเงิน</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="center">1</td>
                                                        <td class="left" id="detail">เดินทะเบียน</td>
                                                        <td class="right">1</td>
                                                        <td class="right" id="total">$999,00</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 col-sm-5">

                                            </div>

                                            <div class="col-lg-4 col-sm-5 ml-auto">
                                                <table class="table table-clear">
                                                    <tbody>
                                                        <tr>
                                                            <td class="left">
                                                                <strong>ราคารวม</strong>
                                                            </td>
                                                            <td class="right" id="invcost">ราคารวม</td>
                                                        </tr>
                                                        <!-- <tr>
                                                <td class="left">
                                                    <strong>ภาษีมูลค่าเพิ่ม (7%)</strong>
                                                </td>
                                                <td class="right" id="einvvat">ภาษีมูลค่าเพิ่ม</td>
                                            </tr>
                                            <tr>
                                                <td class="left">
                                                    <strong>ราคารวมสุทธิ</strong>
                                                </td>
                                                <td class="right">
                                                    <strong id="einvtotal">ราคารวมสุทธิ</strong>
                                                </td>
                                            </tr> -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <div class="row">
                                                <div class="col">
                                                    <p>ผู้มีอำนาจลงนาม</p>
                                                    <img src="https://upload.wikimedia.org/wikipedia/commons/2/23/%E0%B8%A5%E0%B8%B2%E0%B8%A2%E0%B9%80%E0%B8%8B%E0%B9%87%E0%B8%99%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%A2%E0%B8%B8%E0%B8%97%E0%B8%98%E0%B9%8C_%E0%B8%88%E0%B8%B1%E0%B8%99%E0%B8%97%E0%B8%A3%E0%B9%8C%E0%B9%82%E0%B8%AD%E0%B8%8A%E0%B8%B2_%E0%B8%A0%E0%B8%B2%E0%B8%A9%E0%B8%B2%E0%B8%AD%E0%B8%B1%E0%B8%87%E0%B8%81%E0%B8%A4%E0%B8%A9.png"
                                                        alt="signature" width="250px" height="100px" />
                                                    <br>
                                                    <h6>นายโชคทวี รักชาติไทย</h6>
                                                    <p class="text-muted">CEO บริษัทโชคทวีออโต้เซลส์</p>
                                                    <p class="text-muted">บริษัทโชคทวีออโต้เซลส์ บริษัทเช่ารถอันดับ 1
                                                        แห่งประเทศไทย
                                                        ครบวงจร</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal  แก้ไข -->
            <div class="modal fade editModal" tabindex="-1" role="dialog" aria-labelledby="editModal"
                aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <form action="renewlicense/update" method="post">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editModal">
                                    แก้ไขรายการเดินทะเบียน</h5>
                                <!--
                               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                           -->
                            </div>
                            <div class="modal-body">
                                <h5>
                                    ข้อมูลการเดินทะเบียน
                                </h5>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                            id="inputGroup-sizing-default">รหัสการเดินทะเบียน</span>
                                    </div>
                                    <input type="text" name="_id" id="editid" style="display: none">
                                    <input type="text" name="ID_TRN_renew_license" id="edit_ID_TRN_renew_license"
                                        class="form-control" aria-label="Sizing example input">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">วันที่</span>
                                    </div>
                                    <input type="text" name="renew_license_date" id="edit_renew_license_date"
                                        class="form-control" aria-label="Sizing example input">
                                </div>


                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">รหัสพนักงาน</span>
                                    </div>
                                    <input type="text" name="ID_MST_employeeId" id="edit_ID_MST_employeeId"
                                        class="form-control" aria-label="Sizing example input">
                                </div>

                                <!--
                             <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">จำนวน</span>
                                </div>
                                <input type="text" name="renew_license_count" id="edit_renew_license_count"
                                    class="form-control" aria-label="Sizing example input">
                            </div>
                        -->

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">ราคา</span>
                                    </div>
                                    <input type="text" name="renew_license_price" id="edit_renew_license_price"
                                        class="form-control" aria-label="Sizing example input">
                                </div>

                                <!--
                                <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">รหัสบิล</span>
                                </div>
                                <input type="text" name="ID_TRN_bill" id="edit_ID_TRN_bill" class="form-control"
                                    aria-label="Sizing example input">
                            </div>
                          -->

                                <hr>

                                <h5 style="float: left">รายการทะเบียน </h5>
                                <span style="float: right ; ">
                                    <!--
 <button type="button" onclick="addList()" class="btn btn-primary">เพิ่มรายการ</button>
                               -->
                                    <br>
                                    <p></p>
                                </span>

                                <div class="input-group mb-3" id="list">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                            id="inputGroup-sizing-default">เลขทะเบียนรถ</span>
                                    </div>
                                    <input type="text" name="car_license" id="edit_car_license" class="form-control"
                                        aria-label="Sizing example input">
                                </div>

                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                                    <button type="submit" class="btn btn-primary"
                                        style="background:#009688; border:#009688 ">ยืนยัน</button>
                                </div>


                    </form>
                </div>
            </div>


    </main>



    <!-- Modal เพิ่ม -->
    <div class="modal fade AddModalCenter" tabindex="-1" role="dialog" aria-labelledby="AddModalCenter"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <form action="renewlicense/insert" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="AddModalCenter">
                            เพิ่มรายการเดินทะเบียน</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5>รายละเอียดลูกค้า</h5>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"
                                    id="inputGroup-sizing-default">เลขประจำตัวประชาชนลูกค้า</span>
                            </div>
                            <input required maxlength="13" type="text" name="customer_citizen_id"
                                id="customer_citizen_id" class="form-control" aria-label="Sizing example input">
                        </div>


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">ชื่อ</span>
                            </div>
                            <input required type="text" name="customer_first_name" id="customer_first_name"
                                class="form-control" aria-label="Sizing example input">
                        </div>


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">นามสกุล</span>
                            </div>
                            <input required type="text" name="customer_last_name" id="customer_last_name"
                                class="form-control" aria-label="Sizing example input">
                        </div>


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">บ้านเลขที่</span>
                            </div>
                            <input required type="text" name="address_id" id="address_id" class="form-control"
                                aria-label="Sizing example input">
                        </div>


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">หมู่</span>
                            </div>
                            <input required type="text" name="bloc" id="bloc" class="form-control"
                                aria-label="Sizing example input">
                        </div>



                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">อำเภอ</span>
                            </div>
                            <input required type="text" name="district" id="district" class="form-control"
                                aria-label="Sizing example input">
                        </div>


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">ตำบล</span>
                            </div>
                            <input required type="text" name="sub_district" id="sub_district" class="form-control"
                                aria-label="Sizing example input">
                        </div>


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">จังหวัด</span>
                            </div>
                            <input required type="text" name="province" id="province" class="form-control"
                                aria-label="Sizing example input">
                        </div>



                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">รหัสไปรษณีย์</span>
                            </div>
                            <input required type="text" name="postcode" id="postcode" class="form-control"
                                aria-label="Sizing example input">
                        </div>


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">อีเมล</span>
                            </div>
                            <input required type="email" name="customer_email" id="customer_email" class="form-control"
                                aria-label="Sizing example input">
                        </div>


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">ประเภท</span>
                            </div>
                            <input required readonly type="email" name="customer_type" id="customer_type"
                                class="form-control" aria-label="Sizing example input" value="ต่อทะเบียน">
                        </div>


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">เบอร์โทรศัพท์</span>
                            </div>
                            <input required type="text" name="customer_telephone" id="customer_telephone"
                                class="form-control" aria-label="Sizing example input">
                        </div>



                        <hr>
                        <h5>
                            ข้อมูลการเดินทะเบียน
                        </h5>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">รหัสการเดินทะเบียน</span>
                            </div>
                            <input required type="text" name="ID_TRN_renew_license" id="ID_TRN_renew_license"
                                class="form-control" aria-label="Sizing example input">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">วันที่</span>
                            </div>
                            <input required type="date" name="renew_license_date" id="renew_license_date"
                                class="form-control" aria-label="Sizing example input">
                        </div>


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">รหัสพนักงาน</span>
                            </div>
                            <input required type="text" name="ID_MST_employeeId" id="ID_MST_employeeId"
                                class="form-control" aria-label="Sizing example input">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">ราคา</span>
                            </div>
                            <input required type="text" readonly name="renew_license_price" id="renew_license_price"
                                class="form-control" aria-label="Sizing example input" value="500">
                        </div>

                        <hr>

                        <h5 style="float: left">รายการทะเบียน </h5>


                        <div class="input-group mb-3" id="list">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">เลขทะเบียนรถ</span>
                            </div>
                            <input required type="text" name="car_license" id="car_license" class="form-control"
                                aria-label="Sizing example input">
                        </div>

                        <div class="modal-footer">
                            <button type="reset" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                            <button type="submit" class="btn btn-primary"
                                style="background:#009688; border:#009688 ">ยืนยัน</button>
                        </div>


            </form>
        </div>
    </div>

    <!-- Essential javascripts for application to work-->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <!-- Data table plugin-->
    <script type="text/javascript" src="js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="js/plugins/dataTables.bootstrap.min.js"></script>

    <script>
        $('#sampleTable').DataTable();
        $('#profilename').text("ยินดีต้อนรับคุณ : " + localStorage.getItem("name"));

        // var checkuserstatus = () => {
        //     var userstatus = localStorage.getItem("status")
        //     if (userstatus === "แอดมิน") {
        //         console.log('เข้าแอดมิน');
        //     } else {
        //         document.getElementById("manemp").children[0].style.display = "none"
        //         document.getElementById("dash").children[0].style.display = "none"
        //         console.log('ไม่เข้าแอดมิน');
        //     }
        // }

        function feedLicense(_id, ID_TRN_renew_license, renew_license_date, renew_license_count, renew_license_price,
            car_license, ID_MST_employeeId, ID_TRN_bill, ID_MST_customer) {
            // console.log(_id, ID_TRN_renew_license, renew_license_date, renew_license_count, renew_license_price, car_license, ID_MST_employeeId, ID_TRN_bill, ID_MST_customer)
            editid: $('#editid').val(_id)
            ID_TRN_renew_license: $('#edit_ID_TRN_renew_license').val(ID_TRN_renew_license)
            renew_license_date: $('#edit_renew_license_date').val(renew_license_date)
            ID_MST_employeeId: $('#edit_ID_MST_employeeId').val(ID_MST_employeeId)
            car_license: $('#edit_car_license').val(car_license)
            renew_license_price: $("#edit_renew_license_price").val(renew_license_price)
            ID_TRN_bill: $("#edit_ID_TRN_bill").val(ID_TRN_bill)
            //console.log($('#sampleTable').DataTable())
        }
        var m = new Date();
        var dateString =
            m.getUTCFullYear() + "/" +
            ("0" + (m.getUTCMonth() + 1)).slice(-2) + "/" +
            ("0" + m.getUTCDate()).slice(-2) + " "

        var feedInvoice = (ID_TRN_renew_license, cusname, cuslname, cusaddid, bloc, district, sub_district, province,
            postcode, renew_license_price) => {
            console.log(cusname);

            console.log(cusaddid + " " + bloc + " " + district + " " + sub_district + " " + province +
                " " + postcode);

            $('#einvcusname').text(cusname + " " + cuslname)
            $('#einvcusadd').text(cusaddid + " " + bloc + " " + district + " " + sub_district + " " + province +
                " " + postcode)
            $('#date2').text("วันที่ออกใบเสร็จ : " + dateString)
            $('#invoiceId').text(ID_TRN_renew_license + dateString)
            $('#total').text(renew_license_price)
            $('#invcost').text(renew_license_price)


        }
    </script>

</body>

</html>