<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>จัดการการซ่อม</title>
    <link rel="shortcut icon" type="image/png" href="http://www.bhwelder.com.my/img/hotproduct.png" />
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script>
        function printContent(el) {
            var printcontent = document.getElementById(el).innerHTML;
            document.body.innerHTML = printcontent;
            document.getElementById('buttonprint').style.display = 'none';
            window.print();
            location.reload();
        }
    </script>
</head>

<body class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header"><a class="app-header__logo" href="#">Choktwee</a>
        <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
            aria-label="Hide Sidebar"></a>
        <!-- Navbar Right Menu-->
        <ul class="app-nav">
            <!-- <li class="app-search">
                <input class="app-search__input" type="search" placeholder="Search">
                <button class="app-search__button"><i class="fa fa-search"></i></button>
            </li> -->

            <!-- User Menu-->
            <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown"
                    aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
                <ul class="dropdown-menu settings-menu dropdown-menu-right">
                    <!-- <li><a class="dropdown-item" href="#"><i class="fa fa-cog fa-lg"></i> Settings</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa fa-user fa-lg"></i> Profile</a></li> -->
                    <li><a class="dropdown-item" href="login"><i class="fa fa-sign-out fa-lg"></i> ออกจากระบบ</a>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <p class="app-sidebar__user-name" id="profilename">ภัทรดนัย ช่างเหลา</p>

        </div>
        <ul class="app-menu">

            <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i
                        class="app-menu__icon fa fa-car"></i><span class="app-menu__label">จัดการสต็อกรถ</span><i
                        class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="/mangecar"><i class="icon fa fa-inbox"></i>
                            สต็อกรถ</a></li>
                    <li><a class="treeview-item" href="/buycar" rel="noopener"><i class="icon fa fa-level-down"></i>
                            ซื้อรถเข้า</a></li>
                    <li><a class="treeview-item" href="/sellcar"><i class="icon fa fa-level-up"></i>ขายรถ</a></li>
                </ul>
            </li>
            <li><a class="app-menu__item active" href="/manage-repair"><i class="app-menu__icon fa fa-wrench"></i><span
                        class="app-menu__label">จัดการซ่อม</span></a></li>
            <li><a class="app-menu__item" href="/renewlicense"><i class="app-menu__icon fa fa-file-pdf-o"></i><span
                        class="app-menu__label">จัดการเดินทะเบียน</span></a></li>
            <li><a class="app-menu__item" href="/customer"><i class="app-menu__icon fa fa-handshake-o"></i><span
                        class="app-menu__label">ดูข้อมูลลูกค้า</span></a></li>
            <!-- <li><a class="app-menu__item" href="/report"><i class="app-menu__icon fa fa-pie-chart"></i><span
                              class="app-menu__label">ดูรายงาน</span></a></li> -->
            <li id="dash"><a class="app-menu__item " href="/dashboard"><i
                        class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">ดูรายงาน</span></a>
            </li>
            <li id="manemp"><a class="app-menu__item" href="/mangeemployee"><i
                        class="app-menu__icon fa fa-users"></i><span class="app-menu__label">จัดการพนักงาน</span></a>
            </li>
        </ul>
    </aside>
    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-th-list"></i> จัดการซ่อม</h1>

                <p>จัดการและรับเรื่องการซ่อม</p>
            </div>
            <!-- <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item">manage-repair</li>

            </ul> -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <button type="button" class="btn btn-outline-success btn-block"
                            style="font-size: 15px; width: 160px; float: right;" data-toggle="modal" data-toggle="modal"
                            data-target=".AddModalCenter">เพิ่มการซ่อม</button>
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                                <tr align="center">
                                    <th>รหัสการซ่อม</th>
                                    <th>รหัสรถ</th>
                                    <th>สถานะ</th>
                                    <th>รายละเอียดการซ่อม</th>
                                    <th>ราคาซ่อม</th>
                                    <th>วันที่รับเรื่อง</th>
                                    <th>กำหนดคืน</th>
                                    <th style="width: 90px">แก้ไข</th>
                                    <th style="width: 90px">⠀ลบ⠀</th>
                                    <th style="width: 90px">ออกใบเสร็จ</th>

                                </tr>
                            </thead>
                            <tbody align="center">
                                <% for(var i= 0; i < repair.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= repair[i].ID_TRN_repair_car %>
                                    </td>
                                    <td>
                                        <%= repair[i].car_license %>
                                    </td>
                                    <td>
                                        <%= repair[i].repair_status %>
                                    </td>
                                    <td>
                                        <%= repair[i].repair_detail %>
                                    </td>
                                    <td>
                                        <%= repair[i].repairCost %>
                                    </td>
                                    <td>
                                        <%= repair[i].repair_received_date %>
                                    </td>
                                    <td>
                                        <%= repair[i].repair_return_date %>
                                    </td>
                                    <td>
                                        <button id="<%= i %>" type="submit"
                                            class="btn btn-outline-warning btn-block edit-btn" style="font-size: 15px;"
                                            data-toggle="modal" data-toggle="modal" data-target=".EditModalCenter"
                                            onclick="edit('<%= repair[i]._id %>')">แก้ไข</button>

                                    </td>
                                    <td>
                                        <form action="manage-repair/delete/<%= repair[i]._id %>">
                                            <button type="submit" class="btn btn-outline-danger btn-block"
                                                style="font-size: 15px;"
                                                onclick="return confirm('คุณต้องการลบข้อมูลใช่หรือไม่')">ลบ</button>

                                        </form>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-info btn-block"
                                            style="font-size: 15px;" data-toggle="modal"
                                            data-target="#exampleModalCenter"
                                            onclick="feedInvoice('<%= cus[i].customer_first_name %>',
                                            '<%= cus[i].customer_last_name %>','<%= cus[i].address.address_id %>',
                                            '<%= cus[i].address.bloc %>','<%= cus[i].address.district %>',
                                            '<%= cus[i].address.sub_district %>','<%= cus[i].address.province %>',
                                            '<%= cus[i].address.postcode %>','<%= repair[i].ID_TRN_repair_car %>'
                                            ,'<%= repair[i].repair_detail %>','<%= repair[i].repairCost %>')">ออกใบเสร็จ</button>
                                    </td>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal เพิ่ม -->
        <div class="modal fade AddModalCenter" tabindex="-1" role="dialog" aria-labelledby="AddModalCenter"
            aria-hidden="true">
            <div class="modal-dialog modal-s" role="document">
                <form action="manage-repair/create" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="AddModalCenter">
                                เพิ่มข้อมูลการซ่อม</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">รหัสการซ่อม</span>
                                </div>
                                <input type="text" name="ID_TRN_repair_car" id="ID_TRN_repair_car" class="form-control"
                                    aria-label="Sizing example input" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">รหัสรถ</span>
                                </div>
                                <input type="text" name="car_license" id="car_license" class="form-control"
                                    aria-label="Sizing example input" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="status">สถานะ</label>
                                </div>
                                <select class="custom-select" name="repair_status" id="repair_status">
                                    <option selected value="รับเรื่อง">รับเรื่อง</option>
                                    <option value="กำลังดำเนินการ">กำลังดำเนินการ</option>
                                    <option value="เสร็จสิ้น">เสร็จสิ้น</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                        id="inputGroup-sizing-default">รายละเอียดการซ่อม</span>
                                </div>
                                <input type="text" name="repair_detail" id="repair_detail" class="form-control"
                                    aria-label="Sizing example input" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">กำหนดคืน</span>
                                </div>
                                <input type="date" name="repair_return_date" id="repair_return_date"
                                    class="form-control" aria-label="Sizing example input" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">ราคาซ่อม</span>
                                </div>
                                <input type="text" name="repairCost" id="repairCost" class="form-control"
                                    aria-label="Sizing example input" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                        id="inputGroup-sizing-default">พนักงานที่รับเรื่อง</span>
                                </div>
                                <input type="text" name="ID_MST_employeeId" id="ID_MST_employeeId" class="form-control"
                                    aria-label="Sizing example input" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                            <button type="submit" class="btn btn-primary"
                                style="background:#009688; border:#009688 ">ยืนยัน</button>
                        </div>
                </form>
            </div>
        </div>


        <!-- End Modal -->
    </main>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="card" id="invoice">
                            <div class="row">
                                <div class="col">
                                    <img class="text-left" src="image/logobill.png" width="500px" height="150px">
                                </div>
                                <div class="col">
                                    <h1 class="text-right" style="margin-top: 20px;margin-right: 15px">ใบเสร็จรับเงิน
                                    </h1>
                                    <h2 class="text-right" style="margin-top: 3px;margin-right: 15px">Invoice</h2>
                                </div>
                            </div>
                            <div class="card-header">
                                Invoice
                                <strong id="date">วันที่</strong>
                                <span class="float-right">
                                    <button type="button" class="btn btn-primary"
                                        style="background:#009688; border:#009688" onclick="printContent('invoice')"
                                        id="buttonprint">พิมพ์</button>
                                </span>


                            </div>
                            <div class="card-body">
                                <div class="row mb-4">
                                    <div class="col-sm-6">
                                        <h6 class="mb-3">From:</h6>
                                        <div>
                                            <strong>โชคทวีออโต้เซลส์</strong>
                                        </div>
                                        <div>Email: choktwee@gmail.com</div>
                                        <div>โทร : 028749177</div>
                                        <div>
                                            <p id="date2">วันที่ออกใบเสร็จ</p>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <h6 class="mb-3">To:</h6>
                                        <div>
                                            <strong id="invcusname">Webz Poland</strong>
                                        </div>
                                        <div id="invcusadd">ที่อยู่ลูกค้า</div>
                                    </div>



                                </div>

                                <div class="table-responsive-sm">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="center">ลำดับ</th>
                                                <th>สินค้า</th>
                                                <th>รายละเอียด</th>

                                                <th class="right">จำนวน</th>
                                                <th class="center">ราคาสินค้า</th>
                                                <th class="right">จำนวนเงิน</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="center">1</td>
                                                <td class="left strong">ซ่อม</td>
                                                <td class="left" id="cardetail">Extended License</td>

                                                <td class="right">1</td>
                                                <td class="center" id="carcost">1</td>
                                                <td class="right" id="cartotal">$999,00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-sm-5">

                                    </div>

                                    <div class="col-lg-4 col-sm-5 ml-auto">
                                        <table class="table table-clear">
                                            <tbody>
                                                <tr>
                                                    <td class="left">
                                                        <strong>ราคารวม</strong>
                                                    </td>
                                                    <td class="right" id="invcost">ราคารวม</td>
                                                </tr>
                                                <!-- <tr>
                                                    <td class="left">
                                                        <strong>ภาษีมูลค่าเพิ่ม (7%)</strong>
                                                    </td>
                                                    <td class="right" id="invvat">ภาษีมูลค่าเพิ่ม</td>
                                                </tr>
                                                <tr>
                                                    <td class="left">
                                                        <strong>ราคารวมสุทธิ</strong>
                                                    </td>
                                                    <td class="right">
                                                        <strong id="invtotal">ราคารวมสุทธิ</strong>
                                                    </td>
                                                </tr> -->
                                            </tbody>
                                        </table>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal  แก้ไข -->
    <div class="modal fade EditModalCenter" tabindex="-1" role="dialog" aria-labelledby="EditModalCenter"
        aria-hidden="true">
        <div class="modal-dialog modal-s" role="document">
            <form action="manage-repair/update" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="AddModalCenter">
                            แก้ไขข้อมูลการซ่อม</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <input type="text" style="display: none" name="edit_id" id="edit_id">
                                <span class="input-group-text" id="inputGroup-sizing-default">รหัสการซ่อม</span>
                            </div>
                            <input type="text" name="ID_TRN_repair_car" id="edit_ID_TRN_repair_car" class="form-control"
                                aria-label="Sizing example input" value="">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">รหัสรถ</span>
                            </div>
                            <input type="text" name="car_license" id="edit_car_license" class="form-control"
                                aria-label="Sizing example input">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="status">สถานะ</label>
                            </div>
                            <select class="custom-select" name="repair_status" id="edit_repair_status">
                                <option selected value="รับเรื่อง">รับเรื่อง</option>
                                <option value="กำลังดำเนินการ">กำลังดำเนินการ</option>
                                <option value="เสร็จสิ้น">เสร็จสิ้น</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">กำหนดคืน</span>
                            </div>
                            <input type="date" name="repair_return_date" id="edit_repair_return_date"
                                class="form-control" aria-label="Sizing example input">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">พนักงานที่รับเรื่อง</span>
                            </div>
                            <input type="text" name="ID_MST_employeeId" id="edit_ID_MST_employeeId" class="form-control"
                                aria-label="Sizing example input">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                        <button type="submit" class="btn btn-primary"
                            style="background:#009688; border:#009688 ">ยืนยัน</button>
                    </div>
            </form>
        </div>
    </div>
    <!-- Essential javascripts for application to work-->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <!-- Data table plugin-->
    <script type="text/javascript" src="js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="js/plugins/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $('#sampleTable').DataTable();
        $('#profilename').text("ยินดีต้อนรับคุณ : " + localStorage.getItem("name"));

        // var userstatus = localStorage.getItem("status")
        // if (userstatus === "แอดมิน") {
        //     console.log('เข้าแอดมิน');
        // } else {
        //     document.getElementById("manemp").children[0].style.display = "none"
        //     document.getElementById("dash").children[0].style.display = "none"
        //     console.log('ไม่เข้าแอดมิน');
        // }
        console.log("<%= repair[0].repair_received_date %>");

        var m = new Date();
        var dateString =
            m.getUTCFullYear() + "/" +
            ("0" + (m.getUTCMonth() + 1)).slice(-2) + "/" +
            ("0" + m.getUTCDate()).slice(-2) + " "

        let edit = (i) => {
            $.ajax({
                type: "get",
                url: `http://localhost:4000/manage-repair/get/${i}`,
                success: res => {
                    console.log("this");
                    console.log(res);
                    $('#edit_id').val(res.repair._id)
                    $('#edit_ID_TRN_repair_car').val(res.repair.ID_TRN_repair_car)
                    $('#edit_car_license').val(res.repair.car_license)
                    $('#edit_repair_status').val(res.repair.repair_status)
                    $('#edit_repair_return_date').val(res.repair.repair_return_date)
                    $('#edit_ID_MST_employeeId').val(res.repair.ID_MST_employeeId)
                }
            })
        }

        var feedInvoice = (cusname, cuslname, cusaddid, bloc, district, sub_district, province, postcode, repair_id,
            repair_detail, repairCost) => {
            console.log(cusname);
            var repairCost = parseInt(repairCost)
            // var cacost = parseInt(car_cost)

            $('#invcusname').text(cusname + " " + cuslname)
            $('#invcusadd').text(cusaddid + " " + bloc + " " + district + " " + sub_district + " " + province +
                " " + postcode)
            $('#date2').text("วันที่ออกใบเสร็จ : " + dateString)
            $('#date').text(repair_id + dateString)
            $('#cardetail').text(repair_detail)
            $('#invcost').text(repairCost.toLocaleString() + ".00")
            $('#cartotal').text(repairCost.toLocaleString() + ".00")
        }
    </script>
</body>

</html>